<%- include('./partials/head') %>

<section class="center">
    <div class="bigbox">
        <section class="center">
            <div>
                <h1>
                    Home page
                </h1>
                <br>
                <h4>
                    Log in <a href="/login">here</a>!
                </h4>
            </div>
        </section>
    </div>
</section>

<%- include('./partials/footer') %>