<%- include('./partials/head') %>

<section class="center">
    <div class="bigbox">
        <section class="center">
            <div>
            <%- include('./partials/loginform') %>
            </div>
        </section>
    </div>
</section>

<%- include('./partials/footer') %>