<%- include('./partials/head') %>

<section class="center">
    <div class="bigbox">
        <section class="center">
            <div>
                <h1>Sorry, there is an issue with connecting to the database :/</h1>

                <h3>Please come back later</h3>
            </div>
        </section>
    </div>
</section>

<%- include('./partials/footer') %>