<%- include('./partials/head') %>

<section class="center">
    <div class="bigbox">
        <section class="center">
            <div>
                <h1>Profile - <%= user.username %></h1>
                
                <h3>...</h3>
            </div>
        </section>
    </div>
</section>

<%- include('./partials/footer') %>