body
{
    background-color: blanchedalmond;
}
.navbar
{
    display: flex;
    flex-direction: row;
    background-color: wheat;
    align-items: center;
    border-radius: 4px;
}
.navvar
{
    padding: 26px;
}
.navbar > li > a
{
    padding: 7px;
    padding-left: 40px;
    padding-right: 50px;
    background-color: white;
    border-radius: 4px;
    margin: 20px;
}
.navbar > li > form
{
    margin: 20px;
    padding: 5px;
    padding-left: 40px;
    padding-right: 50px;
    background-color: white;
    border-radius: 4px;
}
.center
{
    display: flex;
    justify-content: center;
}
.bigbox
{
    width: 40vw;
    background-color: white;
    padding: 5px;
    display: flex;
    flex-direction: column;
}